:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

body {
    background-color: #ddd;
}

.frame {
    text-align: center;
    background-color: #ff4063;
    margin: 30px auto;
    padding: 20px 0;
    width: 700px;
    border-radius: 5%;
}

h1 {
    color: #fffcde;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    display: grid;
    height: 560px;
    width: 560px;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    margin: auto;
}

.grid-item {
    border: 1px solid #ddd;
    background-color: #fff;
}

div .controls {
    display: flex;
    text-align: center;
    margin: auto;
    width: 560px;
    align-items: center;
}

div .controls > div {
    text-align: center;
    margin: 20px auto;
}

#slider, .color, #clrbtn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#clrbtn {
    font-size: 14px;
    padding: 6px 16px;
    border-radius: 50%;
}